.wrapper
{
background: rgb(221, 212, 212);
}
.header
{
	background: red;
}

h1
{
    text-align: center;
    background: chocolate;
}
ul
{
    text-align: center;
}

li
{
    display: inline-block;
	padding: 15px;
	background: wheat;
	border-radius: 25px;
}
.game
{
width: 350px;
background: black;
}
.block
{
    display: inline-block;
   background: crimson;
   width:  100px;
   height: 100px;
   border: 1px solid rgb(104, 46, 46);
}
